.main {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #DC143C;
    height: 350px;
    max-width: 350px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 264px;
}

.login-head {
    background-color: #DC143C;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.img {
    background-color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 0px;
}

.login-head img {
    max-width: 70px;
    max-height: 70px;
    margin-top: 23px;
}

.login-head h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 0;
}

.logo-name p {
    color: #fff;
    font-size: 13px;
    margin-top: -25px;
    margin-left: 9px;
}

.login-main {
    padding: 20px;
    margin-top: 15px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

button[type="submit"] {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    background-color: #DC143C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
}

button[type="submit"]:hover {
    background-color: #c41e30;
}

.forget-pass {
    margin-top: 5px;
    text-align: center;
}

.forget-pass a {
    text-decoration: none;
    color: #DC143C;
    font-size: 13px;
}

.forget-pass a:hover {
    text-decoration: underline;
}

.register {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    color: #6a6969;
}

.register a {
    text-decoration: none;
    color: #DC143C;
}

.register a:hover {
    text-decoration: underline;
}
