<div class="main">
  <div class="login-head">
      <div class="img">
          <img src="./logo.png" alt="logo" />
      </div>
      <div class="logo-name">
          <h1>Student Login</h1>
          <p>Skill Development Hub</p>
      </div>
  </div>
  <div class="login-main">
      <form [formGroup]="signinform" (ngSubmit)="submit()">
          <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required />
          </mat-form-field>

          <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" required />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <div class="forget-pass">
          <a href="forgotpassword">Forget Password?</a>
      </div>

      <div class="register">
          <p>Don't have an account? <a href="register">Register Now</a></p>
      </div>
  </div>
</div>
